@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font family */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;

}

button {
    background-color: none;
    border: none;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
}

h3,
p,
a {
    font-family: "Roboto", sans-serif;
}

/* basic css */
/* navbar start */
#header {
    background: rgb(255, 249, 244);
}

#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

#header .navbar .menu-icon {
    display: none;
}

#header .navbar .logo img {
    max-width: 291.11px;
}

#header .navbar ul {
    display: flex;
    justify-content: right;
    align-items: center;
}

#header .navbar a {
    margin: 0 28px;
    color: rgb(60, 60, 60);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all linear 0.2s;
}

#header .navbar a:hover,
#header .navbar a.active {
    color: rgb(250, 128, 76);
}

/* navbar end */
/* hero section start*/
#header .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-top: 20px;
    padding-bottom: 120px;

}

#header .image {
    flex: 1;
}

#header .image img {
    width: 100%;
}

#header .text {
    flex: 1;
    text-align: center;
}

#header .text h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(250, 128, 76);
    margin-bottom: 10px;
}

#header .text h1 span {
    color: rgb(54, 57, 88);
}

#header .text p {
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

#header .btn {
    text-align: left;
}

#header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background: linear-gradient(180.00deg, rgb(61, 79, 243), rgb(53, 67, 188) 100%);
    padding: 18px 33px;
    transition: all linear 0.2s;

}

#header .button:hover {
    background: linear-gradient(180.00deg, rgb(54, 70, 213), rgb(41, 51, 146) 100%);
}

#header .button img {
    width: 24px;
}

#header .button h4 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* hero section end */
/* casual section start */

#casual-shoe {
    margin: 90px auto;
}

#casual-shoe .header h1 {
    color: rgb(54, 57, 88);
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

#casual-shoe .shoe-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

#casual-shoe .shoe-collection .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

#casual-shoe .shoe-collection .image {
    width: 100%;

    border-radius: 20px;
    margin-bottom: 17px;
    background: rgb(241, 241, 241);

}

#casual-shoe .shoe-collection .image img {
    max-width: 283px;
    max-height: 283px;
}

#casual-shoe .shoe-collection .card {
    text-align: center;
}

#casual-shoe .shoe-collection .card h3 {
    color: rgb(54, 57, 88);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

#casual-shoe .shoe-collection .card .subtitle {
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

#casual-shoe .shoe-collection .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#casual-shoe .shoe-collection .btn span {
    color: rgb(250, 128, 76);
    font-family: Roboto;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
}

#casual-shoe .shoe-collection .btn a {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(61, 79, 243), rgb(53, 67, 188) 100%);
    padding: 18px 30px;
}

#casual-shoe .shoe-collection .btn img {
    max-width: 19.36px;
}

#casual-shoe .shoe-collection .btn .buy {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* casual section end */
/* formal section end */
#formal-shoe {
    margin: 90px auto;
}

#formal-shoe .header h1 {
    color: rgb(54, 57, 88);
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

#formal-shoe .shoe-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

#formal-shoe .shoe-collection .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

#formal-shoe .shoe-collection .image {
    width: 100%;

    border-radius: 20px;
    margin-bottom: 17px;


}

#formal-shoe .shoe-collection .image img {
    max-width: 283px;
    max-height: 283px;
}

#formal-shoe .shoe-collection .card {
    text-align: center;
}

#formal-shoe .shoe-collection .card h3 {
    color: rgb(54, 57, 88);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

#formal-shoe .shoe-collection .card .subtitle {
    color: rgb(62, 62, 62);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

#formal-shoe .shoe-collection .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#formal-shoe .shoe-collection .btn span {
    color: rgb(250, 128, 76);
    font-family: Roboto;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
}

#formal-shoe .shoe-collection .btn a {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(61, 79, 243), rgb(53, 67, 188) 100%);
    padding: 18px 30px;
}

#formal-shoe .shoe-collection .btn img {
    max-width: 19.36px;
}

#formal-shoe .shoe-collection .btn .buy {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* formal section end */
/* footer section start */
#footer {
    margin: 90px auto;
}

#footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

#footer .contact-item {
    width: 45%;
}

#footer .image {
    width: 55%;
    text-align: center;
}

#footer .image img {
    width: 100%;
}

#footer .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    padding: 27px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin-bottom: 16px;
}

#footer .item img {
    max-width: 78px;
}

#footer .item h3 {
    color: rgb(54, 57, 88);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 14px;
}

#footer .item p {
    color: rgb(62, 62, 62);

    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* footer section end */